.git
.github
.history
.phpunit.cache
.editorconfig
.env
.env.local
.env.*.local
ollama_data
postgres_data
tests
var
vendor
openapi.yaml
phpstan.dist.neon
phpunit.dist.xml
compose.yaml
compose.override.yaml
Dockerfile
README.md
